*{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.entirepage{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

/*Navbar*/
.navbar{
  display: flex;
  color:#363154; 
  align-items: center;
  justify-content: space-between;
}


.logo_header{
  display: flex;
}
.logo_header img
{
  height: 40.564517974853516px;
  width: 108px;
  margin-right: 25px;}

.main_nav{
  display: flex;
  align-items: center;
  list-style: none;
}

.main_nav li{
  display: inline;
  margin: 0px 30px 0px 30px;
  color: #4F4F4F;
}
.main_nav li a{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #FFFFFF;  
}
.navbar_toggle, .filter-toogle{
  display: none;
}

.logo2
{
  display: none;
}

#buttonsbefore a{ 
  font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #FFFFFF;
margin: 0px 0px 0px 25px;
}
.navbar_close
{
  display: none;
}
.button{
  text-align: center;
  width: 93px;
  height: 35px;
  background: #00AE07;
  border: none;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

#buttonsafter{
  display: none;
}

/*Section 1*/
.section-1
{
  background-image: url(../assets/background.png);
  background-size: contain;
  height: fit-content;
  padding: 50px 100px 25px 100px;    
}

.section1-text
{
  margin: 70px 0px;
  width: 674px;
}

.heading
{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  width: 513px;
  line-height: 69px;
  color: #FFFFFF;
}

.body
{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  margin: 20px 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.standardbutton
{
  width: 215px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #212D3D;
  border-radius: 4px;
  border: none;
}

.floating-searchbox
{
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 66px;
  align-items: center;
  width: 80%;
  margin: 65px auto 0px auto;
}

.input-box
{
  width: 80%;
  padding-left: 50px;
}

.input-box p
{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #212D3D;
}

.searchbutton
{
  width: 20%;
  height: 100%;
  float: right;
  text-align: center;
  background: #00AE07;
  border-radius: 0px 4px 4px 0px;
}

.searchbutton img
{
  width: 36px;
  height: 15px;
  margin: 25px auto;
}

/*Section-2*/
.section-2
{
  background-image: url(../assets/background1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: fit-content;
}
.codinglangbar
{
  background-color: #212D3D;
}

.container
{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container img
{
  padding: 20px 0px;
}

.image1
{
  width: 70px;
  height: 43px;
}
.image2
{
  height: 53px;
  width: 53px;
}
.image3
{
  width: 60px;
  height: 60px;
}
.image4
{
  width: 41px;
height: 42px;
}
.image5
{
  width: 42px;
  height: 55px;
}
.image6
{
  width: 51px;
  height: 51px;
}
.image7
{
  width: 62px;
  height: 62px;
}


/*Part1*/
.part1
{
  align-items: center;
  display: flex;
  height: fit-content;
  margin: 100px 0px 10px 0px;
}
.section2-text
{
  background: #212D3D;
  width: 223px;
  margin: 0 auto;
  padding: 80px 40px;
}

.section2-part1
{
  width: 40%;
  height: fit-content;
}

.section2head1
{
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
}

.section2head2
{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
}

.section2head3
{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.03em;
  margin-top: 19px;
  color: #FFFFFF;
}

.icon-text
{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  /* identical to box height */
  color: #263746;

}
.section2-part2
{
  width: 55%;
}
.card
{
  align-self: end;
  width: 30%;
  text-align: center;
  padding: 45px 0px 45px 0px;
}
.card-container
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/*Part2*/
.part2
{
  align-items: center;
  display: flex;
  height: fit-content;
}

.part2-text
{
  width: 34%;
  margin: 0 auto;
  height: fit-content;
}
.part2-image
{
  background-image: url(../assets/sidepic\ 2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 51%;
  height: 550px;
}

.part2-text img
{
  height: 60px;
  width: 60px;
}
.part2-head1
{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 52px;
  /* identical to box height */
  color: #212D3D;
}

.part2-head2
{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #4F4F4F;
}

.part2-head3
{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  margin-top: 23px;
  color: #4F4F4F;
}

.part2-head4
{
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
margin-top: 16px;
/* identical to box height */
text-decoration-line: underline;
color: #263746;
}

.part2-head4 i
{
  margin-right: 12px;
}

.part2-head1, .part2-head2, .part2-head3, .part2-head4
{
  width: 406px;
}

/*Section-3*/
.section-3
{
  text-align: center;
  background-image: url(../assets/flowingbackground.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}
.section3-text
{
  width: 813px;
  margin: 0 auto;
}
.section3-head2, .cancel
{
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 19px;
  line-height: 23px;
  letter-spacing: 0em;
}

.section3-head3
{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-top: 19px;
  text-decoration-line: underline;
  color: #263746;
}

.section3-head3 i{
  margin-right: 12px;
}

.section3-head1
{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #263746;
}

.codebuttons_container
{
  display: none;
}

.section3-image
{
  width: 800px;
  margin: 45px auto;
  background-image: url(../assets/documentation.png);
  background-size: contain;
  height: 600px;
}


.floatingchatbox
{
  background: #212D3D;
  border-radius: 8px 0px 0px 0px;
  width: 30%;
  height: 69px;
  align-items: center;
  float: right;
  display: flex;
  justify-content: space-evenly;
}
.floatingchatbox p
{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}

.floatingchatbox img
{
  width: 24px;
  height: 24px;
}

/*Section-4*/
.section4-text
{
  width: 100%;
  background: #212D3D;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.submitemail
{
}
.section4-text img
{
  width: 199px;
  height: 160px;
}
.alternate
{
  display: none;
}
.submitbox
{
  width: 685px;
  height: 90px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  display: flex;
}

.inputbox2
{
  width: 80%;
  font-family: Avenir;
  font-size: 14px;
  line-height: 51px;
  color: #FFFFFF;
}

.inputbutton
{
  width: 20%;
  align-items: center;
  background: #F9FCFF;
  border-radius: 4px;
  margin-right: 12px;
  font-family: Avenir;
  font-size: 14px;
  line-height: 70px;
  color: #06122F;
}

.inputbutton p, .inputbox2 p
{
  font-family: Avenir;
}

.section4head1
{
  font-family: Avenir;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

/*Section 5*/
.section-5
{
  background: #F9F9F9;
}

.footerhead
{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #4F4F4F;
  margin: 90px 0px 15px 0px;
}

.topfooter
{
  width: 82%;
  display: flex;
  padding-bottom: 65px;
  justify-content: space-evenly;
}


.footerbody
{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-top: 30px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ADADAD;
}

.social img
{
  width: 25px;
  margin-right: 20px;
}

.social
{
  margin-top: 30px;
}

/*Copyright*/
.copyright
{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ADADAD;
  justify-content: space-between;
  border-top: 1px solid #CECECE;
  padding: 60px 170px;
}

@media only screen and (max-width : 445px)
{
/*NavBar*/
.navbar{
  display: flex;
  flex-direction: column;
  padding: 19px 31px 0px 31px;
  align-items: center;   
}

.main_nav{
  display: none;
}

.show_nav{
  display: flex;
  width: 100%;
  position: absolute;
  background: rgba(33, 45, 61, 0.9);
  left: 0px;
  top: 0px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.main_nav li{
  width: 100%;
  height: fit-content;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #4F4F4F;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.main_nav li a
{
  font-family: Avenir;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height */
  color: #FFFFFF;
}

.nav_links
{
  padding: 20px 0px 20px 25px;
}

.main_nav li:hover{
  background-color:  #00AE07;
  color: #fff;
}

#buttonsbefore{
  display: none;
}

#buttonsafter{
  display: flex;
  width: 100%;
  text-align: left;
  flex-direction:column;
}

#buttonsafter a
{
  font-family: Avenir;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height */
  color: #FFFFFF;
  padding: 20px 0px 20px 25px;
  /* identical to box height */
  color: #FFFFFF; 
}

.logo2
{
  display: block;
  margin-left: 30px;
}
.show-bar
{
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 31px 19px 31px;
}

.navbar_toggle {
  color: #fff;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  margin: 15px 0px 15px 30px;
  font-size: 18px;
  display: block;
}
.navbar_close {
  cursor: pointer;
  display: block;
  margin-right: 20px;
}


.logo_header{
  width: 100%;
  float: right;
  align-items: center;
  justify-content: space-between;
}

/*Section 1*/
.section-1
{
  padding: 0px ;
  background-image: url(../assets/vladimir-kudinov-58771-unsplash.png);
  background-size: cover;
  height: fit-content;
  padding-bottom: 50px;
}

.logo_header img
{
  height: 33px;
  width: 85px;
}
.floating-searchbox, .codinglangbar, .section2-part2
{
  display: none;
}

.section1-text
{
  margin: 50px auto 0px auto;
  text-align: center;
  width: 86%;
}

.heading
{
  font-size: 27px;
  line-height: 34.34px;
  width: 100%;
}
.body
{
  font-size: 12px;
  line-height: 20px;
}
/*Section 2*/
.section-2
{
  background-size: cover;
  width: 100%;
}

/*Part 1*/
.part1
{
  width: 100%;
  margin: 0px auto;
  background: linear-gradient(180deg, rgba(33, 45, 61, 0) 0%, #212D3D 34.4%);

  background-size: cover;
  height: fit-content;
  background-image: url(../assets/vladimir-kudinov-58771-unsplash.png);
}

.section2-text
{
  padding: 0;
  background: none;
  width: 80%;
  margin: 0 auto;
}
.section2head2
{
  width: 175px
}
.section2-part1
{
  background: linear-gradient(180deg, rgba(33, 45, 61, 0) 0%, #212D3D 34.4%);
  width: 100%;
  padding-bottom: 45px;
}

/*Part 2*/
.part2
{
  display: flex;
  flex-direction: column-reverse;
  
}

.part2-text
{
  width: 80%;
  margin: 0 auto;
  padding: 0px;
}
.part2-head1, .part2-head2, .part2-head3, .part2-head4
{
  width: 100%;
}

.part2-image
{
  width: 300px;
  height: 300px;
  background-size: cover;
  margin: 20px auto;
}

.part2-head1
{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.part2-head3
{
  font-size: 12px;
  line-height: 20px;
  margin-top: 18px;
}
.part2-text img
{
  display: none;
}

.part2-head4
{
  font-size: 12px;
  line-height: 17px;
}

/*Section 3*/
.section3-text
{
  width: 80%;
  margin: 60px auto 29px auto;
}
.section3-head1
{
  font-size: 18px;
  line-height: 22px;
}
.section3-head2, .section3-head3
{
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}
.cancel, .floatingchatbox
{
  display: none;
}

.codebuttons_container
{
  width: 290px;
  margin: 0 auto;
  display: block;
}

.activebutton
{
  background-color: #212D3D;
  color: #FFFFFF;
  border: none;  
  width: 67px;
  height: 28px; 
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.codebutton:hover
{
  background-color: #212D3D;
  color: #FFFFFF;
}

.codebutton
{
  background-color: #FFFFFF;
  border: none;  
  width: 67px;
  height: 28px; 
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #263746; 
}

.frame
{
  background-color: #212D3D;
  margin: 0px 0px 30px 0px;
  padding: 20px 0px;
}
.section3-image
{
  background-image: url(../assets/documentation\ alt.png);
  margin: 0 auto;
  background-position: center bottom;
  width: 268px;
  height: 161px;
}

/*Section 4*/
.section4-text
{
  width: 100%;
  display: flex;
  background: #FFFFFF;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 0px 50px 0px;
}

.submitbox
{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  }

  .inputbox2
  {
    width: 100%;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .submitemail
  {
    width: 80%;
    margin: 0 auto;
  }

  .section4head1
  {
    width: 100%;
  }
  .inputbox2 p
  {
    font-size: 8px;
    color: #212D3D;
  }
  .original
  {
    display: none;
  }
  .alternate
  {
    display: block;
  }

  .inputbutton
  {
    width: 100%;
    height: 38px;
    background: #212D3D;
    margin: 13px 0px 20px 0px;
    padding: 19px 0px;
    border-radius: 4px;

  }
  .inputbutton p
  {
    font-size: 12px;
    line-height: 0px;
    color: #FFFFFF;
  }

  .section4head1
  {
    font-size: 10px;
    line-height: 14px;
    color: #212D3D;
    margin: 15px 0px;
  }

  .section4-text img
{
  width: 70px;
  height: 56px;
}

/*Footer*/
.footerhead
{
  font-size: 10px;
  line-height: 13px;
  margin: 57px 0px 0px 0px;
}
.footerbody
{
  font-size: 10px;
  line-height: 13px;
  margin-top: 6px;
}
.social img
{
  width: 14px;
  margin-right: 0px;
  margin-top: 6px;
}
.social
{
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}
.topfooter
{
  width: 100%;
  padding-bottom: 37px;
}

.copyright
{
  font-size: 10px;
  line-height: 13px;
  padding: 10px 37px;
}
}